@import '@/styles/globals';

#chat-detail {
  .chat-detail {
    &__product {
      border-bottom: 1px solid #a5a5a5;
      > div {
        width: 90%;
        margin: 0.8rem auto;
        display: flex;
        .chat-detail__product-info {
          position: relative;
          width: 100%;
          flex-direction: column;
          line-height: 1.3;
          .title {
            padding-bottom: 0.8rem;
            max-width: 215px;
            font-size: 1rem;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .price {
            font-weight: 500;
          }
          .badge {
            margin: 0;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
        > img {
          width: 50px;
          height: 50px;
          margin-right: 1rem;
          object-fit: cover;
          border: 1px solid black;
          border-radius: 8px;
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-size: 0.8rem;
        }
      }
    }

    &__main {
      width: 90%;
      height: 420px;
      margin: 0 auto;
      padding: 0.5rem 0;
      overflow-x: hidden;
      overflow-y: scroll;

      .chat-content {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-top: 0.2rem;
        &.send {
          justify-content: flex-end;
        }
        .chat-profile {
          $size: 1.7rem;
          width: $size;
          height: $size;
          margin: 0.2rem 0.2rem 0 0;
          flex-shrink: 0;
          align-self: flex-start;
          img {
            align-self: center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .chat-time {
          font-size: 0.6rem;
          padding: 0.3rem;
          white-space: nowrap;
        }
        .chat-bubble {
          font-size: 0.8rem;
          padding: 0.6rem;
          color: #fff;
          display: inline-block;
          border-radius: 1rem;
          line-height: 1.2;
          &.sender {
            background-color: $main-color;
          }
          &.recipient {
            background-color: #a5a5a5;
          }
        }
      }
    }

    &__footer {
      width: 100%;
      height: 3rem;
      > form {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > input {
          width: 100%;
          height: 2rem;
          margin: 0 0.5rem;
          padding: 0.8rem;
          border-radius: 20px;
          border: none;
          background-color: #d1d2d3;
          font-weight: 500;
        }
        > button {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
