@import 'globals';

.header {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  position: relative;
}

.backNav {
  margin-right: 5px;
}

.mainBar {
  position: absolute;
  top : 0;
  right: 30px;

}

.hide {
    display:none;
}

