@import 'globals';

.start {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  img {
    width: 20rem;
  }

  .start__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }

    p {
      padding-top: 0.5rem;
    }
  }

  .start__text {
    padding-bottom: 10rem;
  }

  .start__login-text {
    padding-top: 2rem;
    display: inline-block;

    .login {
      color: $sub-color;
      padding-left: 0.5rem;
    }
  }
}
