@import '@/styles/mixin';

#categoryPage {
  .category {
    &__content {
      @include grid($gap: 0);
      padding: 30px 20px 0;
      div {
        @include flex($justify: center, $align: center);
        height: 68px;
        cursor: pointer;
      }
    }
  }
}
