@import '@/styles/globals';

.addbutton {
  $size: 3rem;
  background-color: $main-color;
  position: absolute;
  right: 10%;
  bottom: 10%;
  border: none;
  border-radius: 50%;
  width: $size;
  height: $size;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 24px;
}
