@import 'src/styles/globals';

.productStateList {
  display: flex;
  position: sticky;

  .productState {
    position: relative;
    width: 50%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;

    &.active {
      color: $main-color;
      border-bottom: 2px solid $main-color;
    }

    &::after {
      content: '';
      border: 1px solid #999;
      height: 8%;
      position: absolute;
      right: 0;
    }
  }

  .productState:nth-child(3) {
    &::after {
      display: none;
    }
  }
}
