@import 'src/styles/globals';

.productStateList {
  display: flex;
}

.productState {
  width: 50%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.active {
  color: $main-color;
  border-bottom: 2px solid $main-color;
}

.productState:nth-child(3){
  border-right: none;
};
